REST_Sample/REST_Sample/obj
REST_Sample/REST_Sample/bin
REST_Sample/.vs
03 - Motorcycles/Solution.Core/obj
03 - Motorcycles/Solution.DataBase/bin
03 - Motorcycles/Solution.DesktopApp/obj
03 - Motorcycles/Solution.PdfGenerator/bin
03 - Motorcycles/Solution.Services/obj
03 - Motorcycles/Solution.Validators/obj
03 - Motorcycles/Solution.DataBase/obj
03 - Motorcycles/Solution.PdfGenerator/obj
03 - Motorcycles/.vs
03 - Motorcycles/Solution.Core/bin
03 - Motorcycles/Solution.DesktopApp/bin
03 - Motorcycles/Solution.Services/bin
03 - Motorcycles/Solution.Validators/bin
hf/hf/bin
hf/hf/obj
hf/.vs
03 - Motorcycles/Solution.Api/bin
03 - Motorcycles/Solution.Api/obj
17 - IO feladatok/04 - Konyvek/konyvek/konyvek/bin
17 - IO feladatok/04 - Konyvek/konyvek/konyvek/obj
17 - IO feladatok/04 - Konyvek/konyvek/.vs
Book hf/.vs
Book hf/Solution.Api/bin
Book hf/Solution.Api/obj
Book hf/Solution.Core/bin
Book hf/Solution.Core/obj
Book hf/Solution.DataBase/bin
Book hf/Solution.DesktopApp/bin
Book hf/Solution.PdfGenerator/bin
Book hf/Solution.DataBase/obj
Book hf/Solution.DesktopApp/obj
Book hf/Solution.PdfGenerator/obj
Book hf/Solution.Services/bin
Book hf/Solution.Validators/bin
Book hf/Solution.Validators/obj
Book hf/Solution.Services/obj
17 - IO feladatok/06 - Roplabda/Roplabda/.vs
17 - IO feladatok/11 - NB1/NB1/.vs
17 - IO feladatok/11 - NB1/NB1/NB1/obj
17 - IO feladatok/11 - NB1/NB1/NB1/bin
17 - IO feladatok/06 - Roplabda/Roplabda/Roplabda/obj
17 - IO feladatok/06 - Roplabda/Roplabda/Roplabda/bin
SAMPLE_BaseWithApi/.vs
Szamla/.vs
SAMPLE_BaseWithApi/Solution.Api/obj
SAMPLE_BaseWithApi/Solution.Core/obj
SAMPLE_BaseWithApi/Solution.DataBase/obj
SAMPLE_BaseWithApi/Solution.DesktopApp/obj
SAMPLE_BaseWithApi/Solution.PdfGenerator/obj
SAMPLE_BaseWithApi/Solution.Services/obj
SAMPLE_BaseWithApi/Solution.Validators/obj
Szamla/Solution.Api/obj
Szamla/Solution.Core/obj
Szamla/Solution.DataBase/obj
Szamla/Solution.DesktopApp/obj
Szamla/Solution.PdfGenerator/obj
Szamla/Solution.Services/obj
Szamla/Solution.Validators/obj
Szamla/Solution.Core/bin
Szamla/Solution.DataBase/bin
Szamla/Solution.PdfGenerator/bin
Szamla/Solution.Validators/bin
Szamla/Solution.Api/bin
Szamla/Solution.DesktopApp/bin
Szamla/Solution.Services/bin
17 - IO feladatok/12 - EU tagallamok/.vs
17 - IO feladatok/13 - Snooker/snooker/.vs
17 - IO feladatok/13 - Snooker/snooker/snooker/obj
17 - IO feladatok/13 - Snooker/snooker/snooker/bin
17 - IO feladatok/12 - EU tagallamok/eu_tagallamok/eu_tagallamok/obj
17 - IO feladatok/12 - EU tagallamok/eu_tagallamok/eu_tagallamok/bin
17 - IO feladatok/12 - EU tagallamok/eu_tagallamok/.vs
17 - IO feladatok/19 - Labdarugo VB/LabdarugoVB/.vs
17 - IO feladatok/19 - Labdarugo VB/LabdarugoVB/LabdarugoVB/obj
Solution-api/.vs
Solution-api/Solution.Domain/bin
Solution-api/Solution.Services/bin
Solution-api/Solution.Services/obj
Solution-api/Solution.Shared/bin
Solution-api/Solution.Shared/obj
Solution-api/Solution.WebAPI/bin
Solution-api/Solution.WebAPI/obj
Solution-api/Solution.Domain/obj
17 - IO feladatok/19 - Labdarugo VB/LabdarugoVB/LabdarugoVB/bin
17 - IO feladatok/26 - Nobel Dijak/NobelDijak/.vs
17 - IO feladatok/26 - Nobel Dijak/NobelDijak/NobelDijak/bin
17 - IO feladatok/26 - Nobel Dijak/NobelDijak/NobelDijak/obj
03_OpenAPI/.vs
03_OpenAPI/Example_01/obj
03_OpenAPI/Example_02/obj
03_OpenAPI/Example_03/obj
02 + 03_Authentification + OpenAPI/.vs
17 - IO feladatok/Hódi-Rovó Hédi/19 - Labdarugo VB/LabdarugoVB/.vs
17 - IO feladatok/Hódi-Rovó Hédi/19 - Labdarugo VB/LabdarugoVB/LabdarugoVB/bin
17 - IO feladatok/Hódi-Rovó Hédi/19 - Labdarugo VB/LabdarugoVB/LabdarugoVB/obj
17 - IO feladatok/Hódi-Rovó Hédi/26 - Nobel Dijak/NobelDijak/.vs
17 - IO feladatok/Hódi-Rovó Hédi/26 - Nobel Dijak/NobelDijak/NobelDijak/obj
17 - IO feladatok/Hódi-Rovó Hédi/26 - Nobel Dijak/NobelDijak/NobelDijak/bin
02 + 03_Authentification + OpenAPI/Solution.Domain/obj
02 + 03_Authentification + OpenAPI/Solution.Services/obj
02 + 03_Authentification + OpenAPI/Solution.Shared/obj
02 + 03_Authentification + OpenAPI/Solution.WebAPI/obj
17 - IO feladatok/37 - Hivasok/Hivasok/.vs
17 - IO feladatok/37 - Hivasok/Hivasok/Hivasok/bin
17 - IO feladatok/37 - Hivasok/Hivasok/Hivasok/obj
